<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>ToNiagara</ion-list-header>
          <ion-note></ion-note>
          <ion-note>Niagara Falls Tours & More Canada 🇨🇦 & USA 🇺🇸</ion-note>

          <ion-accordion-group>
            <ion-accordion value="{{'faq_'+i}}" *ngFor="let p of appPages; let i = index">
                <ion-item slot="header" color="light">
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
                <div class="ion-no-padding" slot="content">
                  <ion-list *ngIf="p.subPages;  else elseBlock">
                    <ion-menu-toggle autoHide="false" *ngFor="let s of p.subPages">
                      <ion-item [routerDirection]="'root'" [routerLink]="[s.url]" lines="none" detail="false">
                        <ion-icon aria-hidden="true" slot="start" [ios]="s.icon + '-outline'" [md]="s.icon + '-sharp'"></ion-icon>
                        <ion-label>{{s.title}}</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                  </ion-list>
                  <ng-template #elseBlock>
                    <ion-menu-toggle>
                      <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
                        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                        <ion-label>{{ p.title }}</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                  </ng-template>
                </div>              
            </ion-accordion>
          </ion-accordion-group>

          <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="toggleSubMenu('products')" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>

            <ion-list *ngIf="p.subPages && isSubMenuOpen('products')">
              <ion-menu-toggle auto-hide="true" *ngFor="let s of p.subPages">
                <ion-item [routerDirection]="'root'" [routerLink]="[s.url]" lines="none" detail="false">
                  <ion-icon aria-hidden="true" slot="start" [ios]="s.icon + '-outline'" [md]="s.icon + '-sharp'"></ion-icon>
                  <ion-label>{{s.title}}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>

          </ion-menu-toggle> -->
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
